<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="u" class="com.syd.dao.impl.UserDAOImpl">
  </bean>
	
  <bean id="userService" class="com.syd.service.UserService">
  	<property name="userDAO" ref="u" /> 
    <!-- 将userservice中的 userdao实例出来，注入进去。指定这个u是上面id=u的userdaoimpl。 -->
  		
  </bean>
  

</beans>